@use 'common/variables/animation';

@mixin no-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

@mixin hover {
  opacity: 1;
  transition: opacity .2s animation.$md-motion;
  &:hover {
    cursor: pointer;
    opacity: .5;
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
