@use 'common/variables/animation';

@mixin no-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

@mixin hover {
  transition: opacity 0.2s animation.$md-motion;
  opacity: 1;
  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
