/*
// Base
// -------------------------------------------------- */

body {
  font-family: var(--font-base-family);
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  letter-spacing: var(--font-letter-spacing);
  line-height: 1.4;
}
