/* stylelint-disable declaration-no-important */

.mobile-inline {
  display: inline !important;
  @media screen and (--media-pc) {
    display: none !important;
  }
}

.mobile-hide {
  display: none !important;
  @media screen and (--media-pc) {
    display: inline !important;
  }
}
/* stylelint-enable declaration-no-important */
