$sample1-x: 0;
$sample1-y: 0;
$sample1-offset-x: 0;
$sample1-offset-y: 0;
$sample1-width: 100px;
$sample1-height: 100px;
$sample1-total-width: 202px;
$sample1-total-height: 100px;
$sample1-image: '../images/sprites.png';
$sample1: 0 0 0 0 100px 100px 202px 100px '../images/sprites.png';
$sample2-x: 102px;
$sample2-y: 0;
$sample2-offset-x: -102px;
$sample2-offset-y: 0;
$sample2-width: 100px;
$sample2-height: 100px;
$sample2-total-width: 202px;
$sample2-total-height: 100px;
$sample2-image: '../images/sprites.png';
$sample2: 102px 0 -102px 0 100px 100px 202px 100px '../images/sprites.png';

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite){
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);

  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);

  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// retina
@mixin r-sprite-width($sprite) {
  width: nth($sprite, 5) / 2;
}

@mixin r-sprite-height($sprite) {
  height: nth($sprite, 6) / 2;
}

@mixin r-sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3) / 2;
  $sprite-offset-y: nth($sprite, 4) / 2;

  background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin r-sprite-size($sprite) {
  background-size: (nth($sprite, 7) / 2) (nth($sprite, 8) / 2)
}

@mixin r-sprite($sprite) {
  @include sprite-image($sprite);
  @include r-sprite-position($sprite);
  @include r-sprite-width($sprite);
  @include r-sprite-height($sprite);
  @include r-sprite-size($sprite);
}
